.input {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.05);
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.246);
  border-radius: 5px;
}

.date {
  width: 100%;
  margin:1%;
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.05);
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.246);
  border-radius: 5px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  margin-top: 1%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-top: 5%;
  
}

.button {
  width: 30%;
  margin: 2%;
  margin-top: 2%;
  height: 30px;
  border-width: 1px;
  background-color: rgb(255, 255, 255);
  border-color: rgba(0, 0, 0, 0.246);
  border-radius: 5px;
}
